@if (ViewBag.CommandResult != null)
{
    var result = (CommandResult)ViewBag.CommandResult;

    foreach (var item in result.Messages)
    {
        <div class="row mb-3">
        <div class="col-12 col-md-8">
            @*<div class="alert alert-danger">
                @ViewBag.CommandResult
            </div>*@
            <div class="alert @(result.IsSucceeded ? "alert-success":"alert-danger")">@item</div>
        </div>
    </div>
        @*<div class="alert @(result.IsSucceeded ? "alert-success":"alert-danger")">@item</div>*@
    }

    @*<div class="row mb-3">
        <div class="col-12 col-md-8">
            <div class="alert alert-danger">
                @ViewBag.CommandResult
            </div>
        </div>
    </div>*@

}

<div class="row">
    <div class="col-12 col-md-8">
        <form method="post">
            <label class="form-label" for="Name">City Name</label>
            <input type="text" name="Name" class="form-control" required />
            <button class="btn btn-success mt-3" type="submit">Save</button>
        </form>
    </div>
</div>